// Navigation code here
.navigation {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10rem; 
    position: fixed;
    width: 100%;
    background-color: #f0f8ff;
    opacity: 0.95;


    h1 {
        font-size: 4rem;
        text-align: center;
    }

