// Navigation code here
.navigation {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10rem; 
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
    opacity: 0.95;


    h1 {
        font-size: 4rem;
        text-align: center;
    }

    nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    
        a {
          font-size: 1.5rem;
          text-decoration: none;
          padding: 1.5rem;
          color: black;
          
        }
        a:hover {
            font-weight: bolder;
          }
        }

    }
    
